# Environment
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=*

# Database (PostgreSQL URL)
DATABASE_URL=postgresql://user:password@hostname:5432/dbname?sslmode=require

# AWS Credentials (if applicable)
ACCESS_KEY=your_aws_access_key
SECRET_ACCESS_KEY=your_aws_secret_key
